.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
#logo{
    flex: 0;
    /* border: 1px solid black; */
    display: inline-block;
}
#logo img{
    height: 130px;
    width: 224px;
}
.header h1{
    flex: 1;
    text-align: center;
    font-weight:normal;
    font-size: 70px;
    font-variant: small-caps;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 26px;
}

.main label, .main input{
    margin: 15px;
}
.main label{
    margin-top: 0;
}
.main input{
    margin-bottom: 25px;
    width: 30%;
    height: 5%;
    font-size: large;
    border: 1px solid black;
}
.main label{
    font-size: larger;
    width: 30%;
}

.main span{
    color: red;
    font-size: medium;
}

@media screen and (max-width: 600px) {
    .header{
        flex-direction: column;
    }
    #logo{
        text-align: center;
    }
}